In [14]:
import pandas as pd


data = pd.read_csv('WA_Fn-UseC_-Telco-Customer-Churn_R2_Test.csv')
data.head()

,customerID,gender,SeniorCitizen,Partner,Dependents,Tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,1122-JWTJW,1,0,1,1,1,1,0,2,0,...,0,0,0,0,0,1,3,70.65,70.65,1
1,9710-NJERN,0,0,0,0,39,1,0,0,2,...,2,2,2,2,2,0,3,20.15,826.00,0
2,9837-FWLCH,1,0,1,1,12,1,0,0,2,...,2,2,2,2,0,1,2,19.20,239.00,0
3,1699-HPSBG,1,0,0,0,12,1,0,1,0,...,0,1,1,0,1,1,2,59.80,727.80,1
4,7203-OYKCT,1,0,0,0,72,1,1,2,0,...,1,0,1,1,1,1,2,104.95,7544.30,0

In [5]:
data.describe()

,gender,SeniorCitizen,Partner,Dependents,Tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
count,21.000000,21.000000,21.000000,21.000000,21.000000,21.000000,21.000000,21.000000,21.000000,21.000000,21.000000,21.000000,21.000000,21.000000,21.000000,21.000000,21.000000,21.000000,21.000000,21.000000
mean,0.523810,0.190476,0.333333,0.142857,30.809524,0.904762,0.380952,1.238095,0.571429,0.714286,0.714286,0.666667,0.857143,0.714286,0.523810,0.761905,1.571429,64.652381,2176.571429,0.238095
std,0.511766,0.402374,0.483046,0.358569,25.910652,0.300793,0.497613,0.768424,0.810643,0.783764,0.783764,0.795822,0.727029,0.783764,0.749603,0.436436,1.121224,27.936900,2351.107515,0.436436
min,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,19.200000,39.250000,0.000000
25%,0.000000,0.000000,0.000000,0.000000,12.000000,1.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,1.000000,44.400000,403.350000,0.000000
50%,1.000000,0.000000,0.000000,0.000000,19.000000,1.000000,0.000000,1.000000,0.000000,1.000000,1.000000,0.000000,1.000000,1.000000,0.000000,1.000000,2.000000,69.500000,1419.400000,0.000000
75%,1.000000,0.000000,1.000000,0.000000,55.000000,1.000000,1.000000,2.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,2.000000,84.800000,3316.100000,0.000000
max,1.000000,1.000000,1.000000,1.000000,72.000000,1.000000,1.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,1.000000,3.000000,104.950000,7544.300000,1.000000

In [20]:
data = pd.read_csv('WA_Fn-UseC_-Telco-Customer-Churn_R2_Test.csv', na_values=[2])

In [21]:
data.head()

,customerID,gender,SeniorCitizen,Partner,Dependents,Tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,1122-JWTJW,1,0,1,1,1.0,1,0,NaN,0.0,...,0.0,0.0,0.0,0.0,0.0,1,3.0,70.65,70.65,1
1,9710-NJERN,0,0,0,0,39.0,1,0,0.0,NaN,...,NaN,NaN,NaN,NaN,NaN,0,3.0,20.15,826.00,0
2,9837-FWLCH,1,0,1,1,12.0,1,0,0.0,NaN,...,NaN,NaN,NaN,NaN,0.0,1,NaN,19.20,239.00,0
3,1699-HPSBG,1,0,0,0,12.0,1,0,1.0,0.0,...,0.0,1.0,1.0,0.0,1.0,1,NaN,59.80,727.80,1
4,7203-OYKCT,1,0,0,0,72.0,1,1,NaN,0.0,...,1.0,0.0,1.0,1.0,1.0,1,NaN,104.95,7544.30,0

In [22]:
%matplotlib inline

import matplotlib.pyplot as plt
import seaborn as sb

In [25]:
sb.pairplot(data.drop_na(), hue='class')
;

AttributeError: 'DataFrame' object has no attribute 'drop_na'